body {
    background-color: #ddecf2;
	padding-top: 52px;
	padding-bottom: 50px;

}
/************************** MENU *****************************/
header .navbar-default {
    background-color: #f8f8f8;
	background-image: url("images/line.gif");
	background-position: 0 -43px;
    background-repeat: repeat-x;
    border-color: #000;
}
/*
header .navbar-default > .container-fluid{
	margin:0 10px;
}*/
header .navbar-default .navbar-nav > li > a {
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
    color: #fff;
}
@media (max-width: 767px) {
	header .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    background-color: #01549A;
	}
}
header .glyphicon {
	font-size: 20px;
}
header .navbar-brand{
	background-image: url("images/logo.png");
    height: 39px;
    margin:5px 10px !important;
    width: 39px;
}
header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:focus, header .navbar-default .navbar-nav > .active > a:hover {
 	background-color: #cee5ee;
    background-image: url("images/line.gif");
    background-position: 0 -100px;
}
header .navbar-default .navbar-nav > li > a:focus, header .navbar-default .navbar-nav > li > a:hover {
 	background-color: #cee5ee;
    background-image: url("images/line.gif");
    background-position: 0 -100px;
}
@media (max-width: 767px) {
	
	header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:focus, header .navbar-default .navbar-nav > .active > a:hover {
		background-image: none;
	 	background-color: #fff;
	}
	header .navbar-default .navbar-nav > li > a:focus, header .navbar-default .navbar-nav > li > a:hover {
		background-image: none;
		background-color: #fff;
	}
}
header .navbar-hover .dropdown:hover .dropdown-menu {
	display: block;
}
@media (min-width: 768px) and (max-width: 992px){
	header .nav > li > a {
		padding: 10px 5px
	}
}
/************************** MAIN BODY *****************************/
#main-wrapper {
	background-color: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-color: #c8e0ea;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.badge-success, .badge-status-1,.badge-status-y{
	font-weight:normal;
	background-color: #5cb85c;
}
.badge-warning,.badge-status-0,.badge-status-n{
	font-weight:normal;
	background-color: #f0ad4e;
}
.money {
	color: #FF4500;
	font-weight:bold
}
.money.money-vnd:after {
	 content: "đ";
	 vertical-align: super;
	 padding-left:1px;
}
.money.money-usd:before {
	 content: "$";
	 padding-right:1px;
}
/************************** FOOTER *****************************/
footer {
    background: rgba(0, 0, 0, 0) url("images/footer.png") no-repeat scroll center top;
    color: #336699;
    font-size: 11px;
	padding-top: 15px;
}
footer .powered{
	width: 160px;
}
/************************* TYPEHEAD.JS********************************/
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999;
}
.tt-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 12px 0;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion:hover {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}