body {
    background-color: #ddecf2;
	padding-top: 52px;
	padding-bottom: 50px;

}
/************************** MENU *****************************/
header .navbar-default {
    background-color: #f8f8f8;
	background-image: url("images/line.gif");
	background-position: 0 -43px;
    background-repeat: repeat-x;
    border-color: #000;
}
header .navbar-default > .container-fluid{
	margin:0 10px;
}
header .navbar-default .navbar-nav > li > a {
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
    color: #fff;
}
@media (max-width: 767px) {
	header .navbar-default .navbar-nav{
		background: #f8f8f8;
	}
}
header .glyphicon {
	font-size: 20px;
}
header .navbar-brand{
	background-image: url("images/logo.png");
    height: 39px;
    margin: 5px 0;
    width: 39px;
}
.navbar-hover .dropdown:hover .dropdown-menu {
	display: block;
}
/************************** MAIN BODY *****************************/
#main-wrapper {
	background-color: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-color: #c8e0ea;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    padding-top: 10px;
}

.badge-success, .badge-status-1,.badge-status-y{
	font-weight:normal;
	background-color: #5cb85c;
}
.badge-warning,.badge-status-0,.badge-status-n{
	font-weight:normal;
	background-color: #f0ad4e;
}
/************************** FOOTER *****************************/
footer {
    background: rgba(0, 0, 0, 0) url("images/footer.png") no-repeat scroll center top;
    color: #336699;
    font-size: 11px;
	padding-top: 15px;
}
footer .powered{
	width: 160px;
}